.topicPath {
  padding: 16px 80px;
  display: flex;
  justify-content: flex-end;

  a {
    color: var(--color-black);
    font-size: 11px;
    line-height: 1.545;
    padding-right: 15px;
    position: relative;
  }
  span {
    color: var(--color-black);
    font-size: 11px;
    line-height: 1.545;
    position: relative;
    padding-right: 15px;
  }
}

@media screen and (max-width: 960px) {
  .topicPath {
    display: none;
  }
}

.contents {
  background-color: var(--color-white);
  overflow: hidden;

  .section {
    padding: 160px max(80px, calc(50% - 620px));
    padding-top: 110px;
  }

  a {
    color: var(--color-black);
  }

  strong {
    color: var(--color-b);
    font-weight: 700;
  }

  .companyProfileArea {
    position: relative;
  }
}

@media screen and (max-width: 960px) {
  .contents {
    .section {
      padding: 75px 20px 80px;
    }

    .companyProfileArea {
      .pageIntro {
        display: block;

        .pageIntroBody {
          p {
            font-size: 13px;
          }
        }
      }

      .companyHistory {
        margin: 90px 0 0;

        dl {
          padding: 25px 0 0;

          dt {
            font-size: 13px;
            margin: 0 0 25px;
            padding: 0 0 25px;
            width: 80px;
          }

          dt:before {
            height: calc(100% + 26px);
            right: 23px;
          }

          dt:after {
            right: 16px;
            top: 5px;
          }

          dd {
            margin: 0 0 25px;
            padding: 0 0 25px;
            width: calc(100% - 80px);

            p {
              font-size: 13px;
              font-family: var(--font-jp);
            }
          }
        }
      }
    }
  }
}

.bdrTitle {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 60px;
  padding-bottom: 40px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .bdrTitle {
    font-size: 18px;
    margin-bottom: 40px;
    padding-bottom: 24px;
  }

  .bdrTitle:before {
    width: 60px;
  }
}

.bdrTitle:before {
  background: var(--gradient-01);
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 80px;
}

.accessmap {
  display: flex;
  justify-content: space-between;

  .mapBox {
    position: relative;
    width: 48.3871%;

    .map {
      padding-top: 56.33333%;
      position: relative;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    p {
      margin: 30px 0 20px;
      color: var(--color-black);
    }
  }
}

@media screen and (max-width: 960px) {
  .accessmap {
    display: block;

    .mapBox {
      margin-top: 40px;
      width: 100%;

      .map {
        padding-top: 56.1194%;
      }

      p {
        margin: 25px 0 20px;
        font-size: 13px;
      }
    }
  }
}

.companyOutline {
  dl {
    border-bottom: 1px solid #dee0e1;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;

    dt {
      border-top: 1px solid #dee0e1;
      font-weight: 700;
      padding: 30px 0;
      width: 190px;
      color: var(--color-black);
    }

    dd {
      border-top: 1px solid #dee0e1;
      padding: 30px 0;
      width: calc(100% - 190px);

      p {
        line-height: 2;
        color: var(--color-black);
        font-size: 18px;
        font-family: var(--font-jp);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .companyOutline {
    dl {
      display: block;

      dt {
        padding: 25px 0 0;
        width: 100%;
        font-size: 13px;
      }

      dd {
        border-top: none;
        padding: 15px 0 25px;
        width: 100%;

        p {
          font-size: 13px;
        }
      }
    }
  }
}

.pb0 {
  padding-bottom: 0 !important;
}

.mapLink {
  line-height: 2;
  text-align: right;

  a {
    display: inline-block;
    padding-right: 25px;
    position: relative;
  }

  a:before {
    color: var(--color-black);
    background: url(//6255088.fs1.hubspotusercontent-na1.net/hubfs/6255088/raw_assets/public/delivery_corp_2022/images/common/ico_blank.svg)
      0 0 / contain no-repeat;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 17px;
  }
}

.pageIntro {
  align-items: flex-start;
  display: flex;

  .bdrTitle {
    padding-right: 100px;
    white-space: nowrap;
  }
}

.pageIntroBody {
  p {
    line-height: 2;
    color: var(--color-black);
    font-size: 18px;
    font-family: var(--font-jp);
  }
}

.pageIntroBody > * + * {
  margin-top: 30px;
}

.companyHistory {
  margin: 60px 0 0;

  p {
    color: var(--color-black);
  }

  dl {
    border-top: 1px solid #dee0e1;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
    padding: 30px 0 0;

    dt {
      border-bottom: 1px solid #dee0e1;
      color: var(--color-b);
      font-family: var(--font-en);
      font-weight: 700;
      margin: 0 0 30px;
      padding: 0 0 30px;
      position: relative;
      width: 110px;
    }

    dt:before {
      background-color: var(--color-b);
      content: "";
      display: block;
      height: calc(100% + 31px);
      position: absolute;
      right: 37px;
      top: 7px;
      width: 1px;
    }

    dt:after {
      background-color: var(--color-white);
      border: 3px solid var(--color-b);
      border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      right: 30px;
      top: 7px;
      width: 15px;
    }

    dd {
      border-bottom: 1px solid #dee0e1;
      margin: 0 0 30px;
      padding: 0 0 30px;
      width: calc(100% - 110px);
    }
  }
}
