:root {
  --color-base: #333;
  --color-gray: #f6f8f9;
  --color-black: #000;
  --color-b: #073b66;
  --color-r: #cd1536;
  --color-white: #fff;
  --color-gold: #b59c50;
  --color-trans: transparent;
  --gradient-01: linear-gradient(90deg, #073b66 0%, #004e8f);
  --fz-pc: 1.8rem;
  --fz-sp: 1.3rem;
  --font-en: "Roboto", sans-serif;
  --font-jp: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  --width-base: 1240px;
  --width-narrow: 960px;
  --transition-op: opacity ease 0.3s, visibility ease 0.3s;
  --transition-trf: transform ease 0.3s;
  --transition-all: all ease 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #fff;
  letter-spacing: 0.06em;
}

html,
body {
  /* width: 100vw; */
}

nav ul,
ul {
  list-style: none;
}

p {
  line-height: 2;
}
