.section {
  padding: 160px max(80px, calc(50% - 620px));
  padding-right: 0;
  overflow: hidden;

  .sectionHeader {
    display: flex;
    margin-bottom: 60px;

    .sectionHeadding {
      padding-right: 1em;
      width: 500px;

      .sectionTitle {
        font-family: var(--font-jp);
        font-size: 40px;
        background: var(--gradient-01);
        background-clip: text;
        -webkit-background-clip: text;
        color: var(--color-trans);
      }

      .sectionTitleJP {
        color: var(--color-black);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.5;
        margin-top: 20px;
        padding-left: 56px;
        text-indent: -56px;
      }

      .sectionTitleJP:before {
        background-color: var(--color-base);
        content: "";
        display: inline-block;
        height: 1px;
        margin-right: 16px;
        vertical-align: middle;
        width: 40px;
      }
    }
  }

  .topCasestudyListWrap {
    position: relative;
    width: 15000px;
    display: flex;

    .slide {
      margin-right: 40px;
      width: 510px;
      float: left;
      height: 100%;
      min-height: 1px;

      .image {
        margin-bottom: 30px;

        img {
          display: block;
          width: 100%;
        }
      }

      .caseTitle {
        color: var(--color-black);
        font-size: 21px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 24px;
      }

      .caseCats {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 24px;

        .cat-theme {
          background-color: var(--color-b);
          color: var(--color-white);
          font-size: 13px;
          line-height: 26px;
          padding: 0 10px;
        }
      }

      .caseTxt {
        p {
          line-height: 2;
          color: var(--color-black);
        }
      }
    }

    .groupBtn {
      height: 60px;

      .btn {
        align-items: center;
        background-color: var(--color-b);
        border: none;
        color: transparent;
        display: flex !important;
        font-size: 0;
        height: 60px;
        justify-content: center;
        margin: 0;
        padding: 0;
        transition: opacity 0.3s ease;
        width: 60px;
      }
      .left {
        bottom: -120px;
        left: 0;
        position: absolute;
      }

      .right {
        bottom: -120px;
        left: 61px;
        position: absolute;
      }
    }
  }

  .viewmore {
    margin-top: 60px;
    padding-right: max(80px, calc(50vw - 629px));
    text-align: right;

    a {
      display: flex;
      color: var(--color-black);
      align-items: center;
      border: 1px solid var(--color-base);
      display: inline-flex;
      font-weight: 700;
      height: 60px;
      justify-content: center;
      width: 180px;
      text-decoration: none;
    }

    .arrow02 {
      position: relative;
      text-decoration: none;
      transition: 0.3s;
    }

    .arrow02:before {
      background-color: var(--color-base);

      background-blend-mode: multiply;
      content: "";
      display: block;
      mask-image: url(//6255088.fs1.hubspotusercontent-na1.net/hubfs/6255088/raw_assets/public/delivery_corp_2022/images/common/ico_arrow.svg);
      -webkit-mask-image: url(//6255088.fs1.hubspotusercontent-na1.net/hubfs/6255088/raw_assets/public/delivery_corp_2022/images/common/ico_arrow.svg);
      mask-size: contain;
      -webkit-mask-size: contain;
      position: absolute;
      right: -20px;

      transition: 0.3s;
      height: 9px;
      top: calc(50% - 4.5px);
      width: 30px;
    }
  }
}
