.container {
  padding: 0 20px 0 0;
  margin: 0 auto;
}

.headerWrapper {
  height: 106px;

  background-color: var(--color-trans);
  left: 0;
  position: fixed;
  top: 0;
  transition: var(--transition-all);
  width: 100%;
  z-index: 200;

  .headerInner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;

    .menuBtn {
      display: none;
    }

    .globalNavi {
      width: 1194.45px;
      height: 100%;

      .primaryConts {
        display: flex;
        height: 100%;
        padding-right: 270px;
        padding-top: 20px;
        padding-left: 40px;
        margin-bottom: 14px;
        margin-left: 17px;

        .primaryCont {
          padding: 0 20px;

          .primaryContLabel {
            .primaryContLink {
              align-items: center;
              display: flex;
              flex-direction: column;
              font-weight: 700;
              height: 86px;
              justify-content: center;

              padding-bottom: 20px;
              position: relative;
              text-decoration: none;

              .en {
                white-space: nowrap;
                display: block;
                font-size: 18px;
                line-height: 1.333;
              }

              .jp {
                white-space: nowrap;
                display: block;
                font-size: 0.8rem;
                line-height: 1.545;
                margin-top: 8px;
              }
            }
          }
        }

        .primaryCont:hover {
          border-bottom: 1px solid;
        }
      }
    }

    .headerCNV {
      width: 280px;
      color: var(--color-white);
      position: absolute;
      right: 20px;
      top: 20px;

      ul {
        display: flex;
        height: 66px;
        padding-left: 40px;
        margin-bottom: 14px;
      }

      .headerCNVBtn {
        box-sizing: content-box;
        width: 110px;
        border: solid 1px #fff;
        margin-left: 10px;
        cursor: pointer;

        .headerCNBtnLink {
          align-items: center;
          border: 0.5px solid var(--color-white);
          display: flex;
          flex-direction: column;
          font-size: 1.4rem;
          height: 66px;
          justify-content: center;
          text-decoration: none;
          transition: 0.3s;
          width: 110px;

          .en {
            display: block;
            font-weight: 500;
            line-height: 1.333;
            font-size: 14px;
          }

          .jp {
            display: block;
            white-space: nowrap;
            display: block;
            font-size: 0.8rem;
            line-height: 1.545;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
